 .u-section-1 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 838px;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: linear-gradient(#e21d18, white);
  margin: 60px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 529px;
  min-height: 465px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -170px 73px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 465px;
  min-height: 494px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: -465px auto 60px 73px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-1 {
  width: 342px;
  height: 424px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px 36px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-group-1 {
    width: 410px;
    margin-top: -160px;
    margin-right: 47px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-group-2 {
    background-position: 50% 50%;
    margin-left: 30px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1270px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 158px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 529px;
    margin-top: 142px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-2 {
    margin-top: -930px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 330px;
    margin-top: 314px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-group-2 {
    margin-top: -815px;
    margin-left: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 344px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin: 10px 0 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 218px;
    min-height: 254px;
    margin-top: -822px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 422px;
    margin-right: 0;
  }
}