 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 94px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 3px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 90px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 28px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 69px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 68px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 47px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 47px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 36px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 36px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1492px;
}

.u-section-2 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 427px auto 0 20px;
}

.u-section-2 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -650px 20px 0 auto;
}

.u-section-2 .u-image-1 {
  min-height: 559px;
  background-image: url("images/ghgh8.jpg");
  width: 999px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -208px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 118px auto 0 243px;
}

.u-section-2 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 41px auto 60px 230px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-top: 283px;
    margin-left: 48px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -517px;
    margin-right: 55px;
  }

  .u-section-2 .u-image-1 {
    width: 770px;
    min-height: 456px;
    margin-top: -224px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 90px;
    margin-left: auto;
  }

  .u-section-2 .u-video-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: 23px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    margin-top: 678px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -901px;
    margin-right: 230px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 26px;
    margin-left: 101px;
  }

  .u-section-2 .u-video-1 {
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1436px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 626px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -849px;
    margin-right: 320px;
  }

  .u-section-2 .u-image-1 {
    min-height: 336px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 49px;
    margin-left: auto;
  }

  .u-section-2 .u-video-1 {
    height: 304px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1323px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 643px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -866px;
    margin-right: 420px;
  }

  .u-section-2 .u-image-1 {
    min-height: 229px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 34px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-video-1 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}