 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 90px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 90px;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 82px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 51px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 50px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 41px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 41px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 309px;
}

.u-section-2 .u-table-1 {
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-2 .u-table-header-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
}

.u-section-2 .u-table-body-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-icon-1 {
  font-size: 1.6876em;
  color: rgb(255, 255, 255) !important;
  padding: 4px;
}

.u-block-d888-30 {
  font-weight: 700;
}

.u-block-d888-31 {
  height: 31px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-body-1 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-header-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-table-body-1 {
    font-size: 0.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-table-header-1 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-table-body-1 {
    font-size: 0.625rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    margin-top: 24px;
  }

  .u-section-2 .u-table-header-1 {
    font-size: 0.625rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 464px;
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}